<nav class="navbar navbar-default" style="background-color: bisque">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Biblioteka</a>
    </div>
    <ul class="nav navbar-nav">
        <li routerLinkActive= "active"><a routerLink="/knjige">Knjige</a></li>
        <li routerLinkActive= "active"><a routerLink="/autori">Autori</a></li>
     
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive= "active">
          <a routerLink="/korpa" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-shopping-cart"></span> Korpa
          </a>
        </li>
    </ul>
    
  </div>
</nav>