

<div class="row">
  <div class="col-xs-12">
    <form [formGroup] = "bookEdit" (ngSubmit) = "onSubmit()">
      <div class="row">
          <div class="col-xs-12">
              <button 
                    type="submit"
                      class="btn btn-success"
                      [disabled]="!bookEdit.valid">Sacuvaj</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Otkazi</button>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name"> Ime</label>
            <input type="text"
                  id="name"
                  class="form-control"
                  formControlName= 'name'>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath"> Slika</label>
              <input type="text"
                    id="imagePath"
                    class="form-control"
                    formControlName= 'imagePath'
                    #imagePath>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <img [src]="imagePath.value" class="img-responsive" style="max-width: 200px; max-height: 200px">
            </div>
          </div>


        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="preview"> Opis</label>
                <input type="text"
                      id="preview"
                      class="form-control"
                      formControlName= 'preview'>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="price"> Cena</label>
                  <input type="text"
                        id="price"
                        class="form-control"
                        formControlName= 'price'>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12" formArrayName= "authors">
                <label for="authors"> Autori:</label>
                <div class="row"
                  *ngFor = "let author of bookEdit.get('authors').controls; let i = index"
                  [formGroupName] = "i"
                  style="margin-top:10px">
                  <div class="col-xs-8">
                    <select name="autor" id="autor" class="form-control" formControlName="id">
                      <option value=null disabled selected hidden>--Select--</option>
                      <option *ngFor ="let a of authors; let i =index" [value]="i">
                        {{a.name}} {{a.surname}}
                      </option>
                    </select>
                    
                  </div>
                    <div class="col-xs-2">
                      <button class="btn btn-danger"type="button" (click) = "onDeleteAuthor(i)" >X</button>
                    </div>


                </div>
                <div class="row">
                    <div class="col-xs-2">
                      <button type="button" class="btn btn-success" (click) = "onAddAuthor()">
                        Dodaj autora
                      </button>
                    </div>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName= "genres">
                  <label for="authors"> Zanr:</label>
                  <div class="row"
                    *ngFor = "let author of bookEdit.get('genres').controls; let i = index"
                    [formGroupName] = "i"
                    style="margin-top:10px">
                    <div class="col-xs-8">
                      <select name="autor" id="autor" class="form-control" formControlName="genre">
                        <option value=null disabled selected hidden>--Select--</option>
                        <option *ngFor ="let g of genres; let i =index" [value]="g">
                          {{g}}
                        </option>
                      </select>
                      
                    </div>
                      <div class="col-xs-2">
                        <button class="btn btn-danger"type="button" (click) = "onDeleteGenre(i)" >X</button>
                      </div>
  
  
                  </div>
                  <div class="row">
                      <div class="col-xs-2">
                        <button type="button" class="btn btn-success" (click) = "onAddGenre()">
                          Dodaj zanr
                        </button>
                      </div>
                    </div>
                </div>
              </div>
          
    </form>
  </div>
</div>
